@charset "UTF-8";
body {
  background-color: #f2e3d3;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(91, 91, 91, 0.038);
  box-shadow: 0px 0px 10px;
  position: sticky;
  top: 0;
}
.navbar-collapse {
  flex-grow: 0;
}

.logo {
  align-items: center;
  height: 60px;
  margin-left: 0px;
  padding: 5px;
}

.menu-navegacion {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
}
.menu-navegacion li {
  list-style: none;
}
.menu-navegacion a:hover {
  color: #453423;
}

a {
  text-decoration: none;
  color: #836343;
}

.icono-navegador {
  font-weight: 700;
  font-family: "Hind", sans-serif;
  margin-right: 35px;
  border-radius: 15px;
}
.icono-navegador-actual {
  font-weight: 750;
  padding: 10px;
  margin-right: 35px;
  background-color: rgba(240, 248, 255, 0.486);
  border-radius: 10px;
}
.icono-navegador a:hoover {
  background-color: rgba(240, 248, 255, 0.486);
  color: black;
}

main {
  margin: 50px 0px;
}

h1 {
  font-size: 55px;
  font-family: 'Abraham Lincoln', sans-serif;
  margin-bottom: 20px;
}

.info-empresa {
  margin: 40px 30px 80px;
}

.empresa {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 25px;
}
.empresa img {
  margin-left: 60px;
  height: 25vw;
  width: auto;
  border: 3px solid #53594c;
  border-radius: 15px;
}

p {
  font-size: 20px;
  font-family: 'D-DIN', sans-serif;
}

h2 {
  font-size: 32px;
  font-family: 'DINPro-Bold', sans-serif;
  text-align: center;
  margin: 40PX;
}

.col img {
  height: 35vh;
  width: 52vh;
  object-fit: cover;
  margin-bottom: 25px;
  border: 3px solid #53594c;
  border-radius: 15px;
}
.col p {
  padding-bottom: 25px;
  text-align: center;
}

.ubicacion {
  display: flex;
  margin: 30px 40px;
}
.ubicacion iframe {
  padding-right: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 20px 40px;
}

.redes-sociales a {
  padding-right: 30px;
}
.redes-sociales a img {
  width: 30px;
  padding-top: 10px;
}

.texto-footer {
  display: flex;
}
.texto-footer h4 {
  display: flex;
  font-size: large;
  font-weight: 550;
}
.texto-footer i {
  text-align: right;
  font-size: small;
}
.text-center.px-3{
  padding: 0px 70px 40px !important;
}
.principios {
  display: flex;
  padding: 20px 50px 100px;
}
.principios h2, .principios-2 h2, .principios-3 h2 {
  display: block;
  text-align: left !important;
  margin: 0px 0px 20px;
}
.principios img {
  height: 350px;
  width: 600px;
  margin-right: 60px;
  border: 3px solid #53594c;
  border-radius: 15px;
}
.principios-2 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 50px;
}
.principios-2 img {
  height: 350px;
  width: 600px;
  margin-left: 60px;
  border: 3px solid #164e43;
  border-radius: 15px;
}
.principios-3 {
  display: flex;
  padding: 80px 50px 0px;
}
.principios-3 img {
  height: 350px;
  width: auto;
  border: 3px solid #53594c;
  border-radius: 15px;
}
.principios-3-info {
  margin-left: 60px;
}

.ganaderia h1 {
  text-align: center;
  margin-bottom: 60px;
}
.ganaderia img {
  width: 100%;
  height: 100%;
}
.ganaderia p {
  text-align: center;
  margin: 40px 70px 70px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
  row-gap: 25px;
  column-gap: 25px;
  margin: 60px 50px;
}
.grid-container .grid-item img {
  border: 3px solid #53594c;
  border-radius: 15px;
}
.grid-container .grid-item img:hoover {
  scale: 1.02;
  transition: 1s;
}

.first-item {
  grid-row: 1/3;
}

.body-contacto {
  background-image: url(/img/empresa.jpg);
  background-size: cover;
  background-position: center;
}

.contacto {
  margin: 0px 40px 80px;
  text-align: left;
}
.contacto h1 {
  margin-bottom: 20px;
}
.contacto h3 {
  margin: 40px 0px;
}
.contacto b {
  font-size: larger;
}

.mb-3 {
  margin: 40px 60px;
}

@media (max-width: 575px) {
  .menu-navegacion {
    flex-direction: column;
    text-align: center;
  }
  .menu-navegacion li {
    padding-bottom: 30px;
  }
}
@media (max-width: 900px) {
  main {
    margin: 50px 0px;
  }
  h1 {
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
  }
  .empresa {
    display: block;
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
  }
  .empresa img {
    margin: 0px 0px 30px;
    height: auto;
    width: 300px;
  }
  h2 {
    font-size: 27px;
  }
  .ubicacion {
    display: block;
    margin: 30px 40px;
  }
  .ubicacion iframe {
    width: 250px;
    padding-right: 0px;
  }
  .ubicacion p {
    text-align: center;
    padding-top: 30px;
  }
  /*MQ FOOTER*/
  footer {
    display: block;
  }
  .redes-sociales {
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    flex-direction: wrap;
    padding-bottom: 15px;
  }
  .redes-sociales a {
    padding-right: 0px;
  }
  .texto-footer {
    justify-content: center;
    padding-top: 28px;
  }
  .texto-footer i {
    text-align: center;
  }
  /*MQ PRINCIPIOS*/
  .principios {
    display: block;
    text-align: center;
  }
  .principios h1 {
    padding: 25px 0px;
  }
  .principios img {
    width: 300px;
    height: auto;
    margin-right: 0px;
  }
  .principios-2 {
    display: block;
    text-align: center;
  }
  .principios-2 h1 {
    padding-bottom: 25px;
  }
  .principios-2 img {
    width: 300px;
    height: auto;
    margin-left: 0px;
  }
  .principios-3 {
    display: block;
    text-align: center;
  }
  .principios-3 h1 {
    padding: 25px 0px;
  }
  .principios-3 img {
    height: 250px;
    width: 380px;
  }
  .principios-3-info {
    margin-left: 0px;
  }
  /*MQ GANADERÍA*/
  .ganaderia img {
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: block;
  }
  .first-item {
    padding-bottom: 20px;
  }
  .second-item {
    padding-bottom: 20px;
  }
  .ganaderia p {
    text-align: center;
    margin: 40px 30px 70px;
  }
}

/*# sourceMappingURL=main.css.map */
