main{
    margin: 100px 0px;
}

h1{
    @include titulo-principal;
}

.info-empresa{
    margin: 40px 30px 80px;
}

.empresa {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 25px;

    img{
        margin-left: 60px;
        height: 450px;
        width: 1200px;  
        @include borde;
    }
}

p{
    @include parrafo;
}

h2{
    @include titulo-secundario;
}

.col {
    img{
        height: 25vh;
        width: 40vh; 
        //hacer un mixin 
        @include borde;
        //mixin
    }

    p{
        padding: 25px 0px;
        text-align: center;
    }
}

.ubicacion{
    display: flex;
    margin: 30px 40px;

    iframe{
        padding-right: 40px;
    }
}
