.principios{
    display: flex;
    padding: 20px 50px 100px;

    h1{
        display: block;
    }

    img{
        height: 450px;
        width: 800px;
        margin-right: 60px;
        @include borde;
    }

    &-2{
        display: flex;
        background-color: $blanco;
        padding: 50px;

        img{
            height: 450px;
            width: 800px;
            margin-left: 60px;
            @include borde;
        }
    }

    &-3{
        display: flex;
        padding: 80px 50px 0px;

        img{
            height: 450px;
            width: auto;
            @include borde;
        }

        &-info{
            margin-left: 60px;
        }
    }
}
